In [22]:
import pandas as pd

# Load ข้อมูล
df_results = pd.read_csv('../dataset/results.csv')
df_stats = pd.read_csv('../dataset/stats.csv')

# STEP 1: Merge ฝั่ง home
df_merged = df_results.merge(
    df_stats,
    how='left',
    left_on=['home_team', 'season'],
    right_on=['team', 'season']
)

# STEP 2: Rename คอลัมน์ซ้ำสำหรับฝั่ง home
important_cols = ['wins', 'losses', 'goals', 'total_yel_card', 'goals_conceded']
df_merged = df_merged.rename(columns={col: col + '_home' for col in important_cols})

# STEP 3: Merge ฝั่ง away ต่อจาก df_merged
df_merged = df_merged.merge(
    df_stats,
    how='left',
    left_on=['away_team', 'season'],
    right_on=['team', 'season'],
    suffixes=('', '_away')
)

# STEP 4: Rename คอลัมน์ซ้ำสำหรับฝั่ง away
df_merged = df_merged.rename(columns={col: col + '_away' for col in important_cols})

# STEP 5: ทดสอบดูผลลัพธ์
df_merged[['home_team', 'away_team', 'wins_home', 'goals_home', 'wins_away', 'goals_away']].head()

,home_team,away_team,wins_home,goals_home,wins_away,goals_away
0,Sheffield United,Liverpool,10.0,32.0,20.0,57.0
1,Arsenal,Aston Villa,19.0,63.0,11.0,43.0
2,Everton,Watford,15.0,52.0,5.0,29.0
3,Newcastle United,Wigan Athletic,11.0,38.0,10.0,37.0
4,Portsmouth,Blackburn Rovers,14.0,45.0,15.0,52.0